html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 50%;
    box-shadow: 5px 5px 5px grey;
}

.title {
    margin-bottom: 0px;
}

.email {
    margin-top: 0px;
    text-decoration: underline;
}

.profpic {
    margin-top: .33rem;
    border-radius: 50%;
}

.top {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    padding: 5px;
}

.fig-caption {
    font-size: .75rem;
    margin-top: 0px;
}

.headline {
    margin-bottom: 0px;
}

.img-caption {
    margin-top: .33rem;
    font-size: .6rem;
}

/* main {
    background-color: #60a9ff;
} */

main {
    background-color: white;
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tribute-link:hover {
    color: red;
}